.checklist td {
	border: 1px solid black;
	 border-radius: 10px;
}

.img{
    position:absolute;
    z-index:1;
}

.img_top{
    position:relative;
    z-index:20;
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

#canvas-container{
    display:inline-block;
    overflow: hidden;
    margin: 0 auto; 
    position:relative; 
    border: 1px solid #000;
    background-color: #FBD603;
    width: 512;
    height: 512;
}

#myCanvas{
    position:relative;
    z-index:20;
}

#sourceImage{
    position:absolute;
    z-index:20;
}
