<!DOCTYPE html>
<html>
	<title>Upload and return image test</title>
	<head>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	</head>
	<body>
		<!--navigation Bar-->
		<nav style="background-color: #27A69A;">
			<div class="nav-wrapper">
			  <a href="#" class="brand-logo" style="flex-grow: 0;">DiAX</a>
			  <ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="Diagnose.html">Home</a></li>
				<li><a href="Howto.html">How to use</a></li>
				<li><a href="Contact.html">Contact</a></li>
			  </ul>
			</div>
		  </nav>

		<h2 style="color: #00796B; margin-top: 10px;">Select Gastric X-ray images to upload and display heatmap</h2>
		<!--
		<p>
			{% with messages = get_flashed_messages() %}
	  			{% if messages %}
					<ul class=flashes>
						{% for message in messages %}
		  				<li>{{ message }}</li>
						{% endfor %}
					</ul>
	  			{% endif %}
			{% endwith %}
		</p>-->

		<form method="post" action="/" enctype="multipart/form-data">
    		<dl>
				<p>
					<!--<input class="waves-effect waves-light btn" type="file" name="files[]" multiple="true" autocomplete="off" required>-->
					<div class="file-field input-field">
						<div class="btn waves-effect waves-light" style="width:130px;">
						  <span>Choose Files</span>
						  <input type="file" name="files[]" multiple required>
						</div>
						<div class="file-path-wrapper">
						  <input class="file-path validate" type="text" style="width: 300px; max-width: 100%;" placeholder="Upload one or more files" readonly autocomplete="off">
						</div>
					  </div>
				</p>
    		</dl>
    		<p>
				<!--<input class="btn waves-effect waves-light" type="submit" value="Submit">-->
				<button class="btn waves-effect waves-light" type="submit" name="action" style="width:130px;">Submit
					<i class="material-icons right">send</i>
				</button>
			</p>
		</form>

		{% if filenames %}
		<div style="height: 210px; width: 1200px; border: 1px solid #ccc; font: 16px/26px Georgia, Garamond, Serif; overflow: auto; border-radius: 15px;">
			<table style="width: auto; table-layout: auto; border-collapse: collapse;">
				<tr>
					{% for filename in filenames %}
						<td style="padding-left: 10px; padding-right: 10px; border: none; text-align: center;">
							<form method="POST" action="{{ url_for('diagnose') }}">
								<input type="hidden" name="to_get_img_index" data-index="{{ loop.index - 1 }}">
								<button name="detail_of_case" type="submit" value="{{ loop.index - 1 }}" onclick="adjustReset()" style="padding: 0; border: none; background: none;">
									<img class="clicked_image" src="../static/uploads/origin/{{ filename }}" width="128" height="128" style="display: block;">
								</button>
							</form> 
							<div>{{ filename }}</div>
						</td>
					{% endfor %}
				</tr>
			</table>
		</div>
		{% endif %}

		{% if data_to_show == True: %}
			<div class="flex-container">
				<!-- Canvas Container -->
				<div id="canvas-container">
					<img id="sourceImage" src="../static/uploads/origin/{{filenames[img_index]}}" width="512" height="512" style="display: block;" />
					<canvas id="myCanvas" width="512" height="512"></canvas>
				</div>
				
				<!-- Canvas Options Buttons -->
				<div class="options-container">
					<label for="options" class="grey-text text-darken-2">病変を選択:</label>
					<div class="input-field col s12">
						<select id="options" name="options" onchange="change_anntotaion_type()">
							<option value="0">Fold</option>
							<option value="1">Corpus</option>
							<option value="2">Antrum</option>
						</select>
					</div>
					<button class="btn waves-effect waves-light" id="drawing-toggle">Disabling Drawing</button>
					<button class="btn waves-effect waves-light" id="zoom-button">Disabling Zooming</button>
					<button class="btn waves-effect waves-light" id="undo">Undo</button>
					
					
					<label for="window_level" class="grey-text text-darken-2">Window Level:</label>
					<input type="range" id="window_level" min="1" max="4096" value="2048" onchange="updateImage()">
			
					<label for="window_width" class="grey-text text-darken-2">Window Width:</label>
					<input type="range" id="window_width" min="1" max="4096" value="4096" onchange="updateImage()">
				</div>
			
				<div>
					<table class ="checklist" style="height: 500px;width: 500px; margin: 5px;">
						<tr>
							  <td>前庭部胃粘膜の判定
								<ul>
									<label><input type="checkbox" name="zentei_inen{{filenames[img_index]}}_1"> <span class="grey-text text-darken-2">平滑型</span></label>
									<label><input type="checkbox" name="zentei_inen{{filenames[img_index]}}_2"> <span class="grey-text text-darken-2">粗造型</span></label>
									<label><input type="checkbox" name="zentei_inen{{filenames[img_index]}}_3"> <span class="grey-text text-darken-2">中間型</span></label>
								</ul>
							</td>
							<td>胃体部胃粘膜の判定
								<ul>
									<label><input type="checkbox" name="itai_inen{{filenames[img_index]}}_1"> <span class="grey-text text-darken-2">平滑型</span></label>
									<label><input type="checkbox" name="itai_inen{{filenames[img_index]}}_2"> <span class="grey-text text-darken-2">粗造型</span></label>
									<label><input type="checkbox" name="itai_inen{{filenames[img_index]}}_3"> <span class="grey-text text-darken-2">中間型</span></label>
								</ul>
							</td>
							<td>ひだの形状判定
								<ul>
									<label><input type="checkbox" name="hida{{filenames[img_index]}}_1"> <span class="grey-text text-darken-2">正常型(6S)</span></label>
									<label><input type="checkbox" name="hida{{filenames[img_index]}}_1"> <span class="grey-text text-darken-2">異常型(非6S)</span></label>
									<label><input type="checkbox" name="hida{{filenames[img_index]}}_1"> <span class="grey-text text-darken-2">中間型</span></label>
									<label><input type="checkbox" name="hida{{filenames[img_index]}}_1"> <span class="grey-text text-darken-2">消失型</span></label>
								</ul>
							</td>
						</tr>
						<tr>
							<td>ひだの分布の判定
								<ul>
									<label><input type="checkbox" name="hida_bunpu{{filenames[img_index]}}_1"> <span class="grey-text text-darken-2">萎縮なし</span></label>
									<label><input type="checkbox" name="hida_bunpu{{filenames[img_index]}}_2"> <span class="grey-text text-darken-2">軽度萎縮</span></label>
									<label><input type="checkbox" name="hida_bunpu{{filenames[img_index]}}_3"> <span class="grey-text text-darken-2">中等度萎縮</span></label>
									<label><input type="checkbox" name="hida_bunpu{{filenames[img_index]}}_4"> <span class="grey-text text-darken-2">高度萎縮</span></label>
								</ul>
							</td>
							<td>読影(感染有無)
								<ul>
									<label><input type="checkbox" name="dokuei{{filenames[img_index]}}_1"> <span class="grey-text text-darken-2">非感染</span></label>
									<label><input type="checkbox" name="dokuei{{filenames[img_index]}}_2"> <span class="grey-text text-darken-2">感染</span></label>
								</ul>
							</td>
							<td>ABCD分類
								<ul>
									<label><input type="checkbox" name="ABCD{{filenames[img_index]}}_1"> <span class="grey-text text-darken-2">A(PG-,Anti-)</span></label>\
									<label><input type="checkbox" name="ABCD{{filenames[img_index]}}_2"> <span class="grey-text text-darken-2">B(PG-,Anti+)</span></label>
									<label><input type="checkbox" name="ABCD{{filenames[img_index]}}_3"> <span class="grey-text text-darken-2">C(PG+,Anti+)</span></label>
									<label><input type="checkbox" name="ABCD{{filenames[img_index]}}_4"> <span class="grey-text text-darken-2">D(PG+,Anti-)</span></label>
									<label><input type="checkbox" name="ABCD{{filenames[img_index]}}_5"> <span class="grey-text text-darken-2">その他</span></label>
								</ul>
							</td>
						</tr>
						<tr>
							<th>
								<form method="POST" action="{{ url_for('diagnose_result') }}">
									<input type="hidden" name="img_index" value="{{img_index}}">
									<button class="btn waves-effect waves-light" name="ai_result" type="submit" value="{{filename}}">
										Show AI result
									</button>
								</form> 									
							</th>
						</tr>
					</table>
				</div>

				{% if show_result == True: %}
				<!-- Heatmap Display -->
				<div class="image-container">
					<img class="img" src="../static/uploads/origin/{{filenames[img_index]}}" width="512" height="512" />
					<img class="img_top" src="../static/uploads/heatmap/{{filenames[img_index]}}" width="512" height="512" />
				</div>
				
				<table>
					<tr>
						
						<td>
							<p>感染する確率 : {{prediction[img_index]}}%</p>
							<br>
							<p>診断結果 : {{results[img_index]}}</p>
							<br>
							<form method="GET" action="{{ url_for('.download_file') }}">
								<button class="btn waves-effect waves-light" type="submit" id="heatmap-download">
									Download Heatmaps
								</button>
							</form>
							
						</td>
					</tr>
				</table>
				{% endif %}
			</div>
			
		{% endif %}
	</body>
<!--
	<footer class="page-footer" style="background-color: #27A69A;">
		<div class="container">
		  <div class="row">
			<div class="col l6 s12">
			  <h5 class="white-text">Footer Content</h5>
			  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
			</div>
			<div class="col l4 offset-l2 s12">
			  <h5 class="white-text">Links</h5>
			  <ul>
				<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
			  </ul>
			</div>
		  </div>
		</div>
		<div class="footer-copyright">
		  <div class="container">
		  © 2014 Copyright Text
		  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		  </div>
		</div>
	</footer>
-->
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- To use node JS to save checkbox state-->
<script src="http://code.jquery.com/jquery.js"></script>
<!-- This JavaScript file is required to load the XpressDox interview as well as the code required to run it -->

<script src="../static/js/CheckboxState.js"></script>

<script src="../static/js/DrawingScript.js"></script>

<script src="../static/js/ImageViewer.js"></script>

<script src="../static/js/globalState.js"></script>

<script>
	//script to handle slider to change opacity
	var range = document.getElementById("range");
	var imgTop = document.getElementsByClassName("img_top")[0];

	range.addEventListener("input", function() {
    	imgTop.style.opacity = this.value / this.max;
	});
</script>

<script src="../static/js/updateImage.js"></script>

<script>
//script to use dropdown menu while using materializeCSS
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>